<div id="<%= id %>" class="toolbar">
  <ul>
  	<li><a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="green">Good</a></li>
	<li><a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="yellow">Neutral</a></li>
	<li><a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="red">Bad</a></li>
    <li><a data-wysihtml5-command="insertImage" class="insertImage" title="Image">Image</a></li>
  </ul>

  <div class="dialog" data-wysihtml5-dialog="createLink" style="display: none;">
    <div class="action-group">
      <a href="#" data-wysihtml5-dialog-action="save" class="button">OK</a>
      <a href="#" data-wysihtml5-dialog-action="cancel">Cancel</a>
    </div>
    <label>
      Link:
      <input class="uploadable" type="text" data-wysihtml5-dialog-field="href" value="http://">
    </label>
    <div style="clear: both;"></div>
  </div>

  <div class="dialog" data-wysihtml5-dialog="insertImage" style="display: none;">
    <div class="action-group">
      <a href="#" data-wysihtml5-dialog-action="save" class="button">OK</a>
      <a href="#" data-wysihtml5-dialog-action="cancel">Cancel</a>
    </div>
    <label>
      Image URL:
      <input class="uploadable" type="text" data-wysihtml5-dialog-field="src" value="http://" id="image_url">
    </label>
    <label>
      Align:
      <select data-wysihtml5-dialog-field="className">
        <option value="">default</option>
        <option value="wysiwyg-float-left">left</option>
        <option value="wysiwyg-float-right">right</option>
      </select>
    </label>
    <div style="clear: both;"></div>
  </div>
  
</div>